extends layout

block mainContent
  header
    h1= title
  #container
    #photos.isotope
      - each post, i in posts
        - each photo in post.photos
          div.photo-wrapper.isotope-item
            //- div.title 
            a.photo-link(href="#", data-post-id=post._id)
              if (i > 10)
                img.photo(src="images/photo-placeholder.jpg", data-original=photo.src,  alt='', class="lazy")
              else
                img.photo(src=photo.src, alt='', class="")


  #side-panel
    div.details
    - each post in posts
      div.post-details(class=post._id)
        div.post-title On the Street... Avenue Winston Churchill, Paris
        div.comments-container
          div.comments
            dl
              - each comment in post.comments
                dd #{comment.body}


  #overlay
  a#btn-settings(href="#") settings
  #panel-settings
    h2 SETTINGS / LIST OF SHIT TO DO
    ul
      li ratings ? 
      li filter by popularity
      li vote up
      li subscribe for updates

    a#btn-close-settings(href="#") close

  #panel-photo
    a#prev-photo(href="#") <
    img#main-photo(src="")
    a#next-photo(href="#") >
  
